@font-face {
    font-family: 'Perpetua';
    src: url('css/Perpetua.eot');
    src: url('Perpetua.eot?#iefix') format('embedded-opentype'),
        url('Perpetua.woff2') format('woff2'),
        url('Perpetua.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perpetua';
    src: url('Perpetua.eot');
    src: url('Perpetua.eot?#iefix') format('embedded-opentype'),
        url('Perpetua.woff2') format('woff2'),
        url('Perpetua.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perpetua';
    src: url('Perpetua-Bold.eot');
    src: url('Perpetua-Bold.eot?#iefix') format('embedded-opentype'),
        url('Perpetua-Bold.woff2') format('woff2'),
        url('Perpetua-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perpetua';
    src: url('Perpetua-Bold.eot');
    src: url('Perpetua-Bold.eot?#iefix') format('embedded-opentype'),
        url('Perpetua-Bold.woff2') format('woff2'),
        url('Perpetua-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perpetua';
    src: url('Perpetua.eot');
    src: url('Perpetua.eot?#iefix') format('embedded-opentype'),
        url('Perpetua.woff2') format('woff2'),
        url('Perpetua.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

